# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
venv/
env/

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
/media/
/staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
